<p style="color: green"><%= notice %></p>

<h1>Affaires</h1>

<div id="affaires">
  <% @affaires.each do |affaire| %>
    <%= render affaire %>
    <p>
      <%= link_to "Show this affaire", affaire %>
    </p>
  <% end %>
</div>

<%= link_to "New affaire", new_affaire_path %>
