
    <%= simple_form_for(@weektime) do |f| %>
             
                 <% @weektime.errors.full_messages.each do |message| %>
                 <div class= "alert alert-danger text-center" ><%= message %></div>
                 <% end %>
         
      <div class="form-inputs text-center">
      
        <%= f.input :dateweek, as: :date, html5: true, label: "Select la semaine"  %>
    
      </div>
    </br>
      <div class="text-center">
        <%= f.button :submit, 'data-turbo': false, class:"btn btn-outline-secondary"%>
      </div>
    <% end %>


