<div id="<%= dom_id weektime %>">

  <p>
    <strong>Dateweek:</strong>
    <%= weektime.dateweek %>
  </p>

  <p>
    <strong>Workweek:</strong>
    <%= weektime.workweek %>
  </p>

  <p>
    <strong>Accord:</strong>
    <%= weektime.accord %>
  </p>

</div>
