</br>
<h1 class="text-center">Weektimes</h1>

<hr>
  <div class="d-flex justify-content-end container text-center">
    <%= link_to "Nouvelle feuille d'heure", new_weektime_path, class:"btn btn-outline-secondary btn-sm", "data-controller": "turbo" %>
  </div>
<hr>
  <div class="container">
       <table class="table table-lightdark table-striped mt-3">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center"><strong>Dateweek</strong></th>
            <th scope="col" class="text-center"><strong>Workweek</strong></th>
            <th scope="col" class="text-center"><strong>Accord</strong></th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
          
          </tr>
        </thead>
           <tbody> 
            <%= render partial: "weektimes/weektime" %>
          </tbody>
          <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>        
       </table>
  </div>
  </br>
   <%= link_to "< Back", root_path , class:"btn btn-outline-secondary btn-sm"%>

