</br>
<h1 class="text-center">Weektimes</h1>

<hr>
  <div class="d-flex justify-content-end container text-center">
    <%= link_to "Nouvelle feuille d'heure", new_weektime_path, class:"btn btn-outline-secondary btn-sm", "data-controller": "turbo" %>
  </div>
<hr>
   <div class="table-responsive" data-controller="checkerbox-weektimes">
       <table class="table table-lightdark table-striped mt-3">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center"><strong>SEMAINE</strong></th>
            <th scope="col" class="text-center"><strong>HEURES</strong></th>
            <th scope="col" class="text-center"><strong>VALIDER</strong></th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
          
          </tr>
        </thead>
           <tbody> 
            <%= render partial: "weektimes/weektime" %>
          </tbody>
          <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>        
       </table>
  

    <div class="d-flex justify-content-center container">
    <%= paginate @weektimes , theme: 'bootstrap-5',
                              pagination_class: "pagination pagination-sm flex-wrap justify-content-center ",
                              nav_class: "d-inline-block" %>
  </div>
</div>
  </br>
   <%= link_to "< Back", root_path , class:"btn btn-outline-secondary btn-sm"%>

