
<h1 class="text-center">Weektimes</h1>
<hr>
<div class="container">
       <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th><strong>Dateweek</strong></th>
            <th><strong>Workweek</strong></th>
            <th><strong>Accord</strong></th>
            <th></th>
            <th></th>
          
          </tr>
        </thead>
    <%if @weektimes.nil? %> 
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
    <% else %>   
      <tbody>   
      
            <% @weektimes.each do |weektime| %>
   
            <tr>
             <%= render weektime %>
              
            </tr>
          <% end %>
      </tbody>
    <%end%>  
        <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
          </tr>
        </thead>
      </table>
  </div>


  <div class="form-actions text-center">
<%= link_to "Nouvelle feuille d'heure", new_weektime_path, class:"btn btn-outline-secondary btn-sm"  %>
  </div>