<div class="container">
    <h1 class="text-center">Administrator Dashbord</h1>
    <%= render 'admin/nav_links'%>
</div>

    <table class="table table-dark table-striped mt-3"> 
        <thead>
            <th scope="col", class="text-center">Numéro</th>
            <th scope="col", class="text-center">Client</th>
            <th scope="col", class="text-center">title</th>
            <th scope="col", class="text-center">Heure Saisie</th>
        </thead>
    
        <tbody>
          <% @depannages.each do |depan| %>
            <tr scope="row"> 
              <th class="text-center"><%= depan.number.truncate(8)%></th>
              <td class="text-center"><%= depan.client%></td>
              <td class="text-center"><%= depan.title%></td>
              <td class="text-center"><%#= link_to Time.at(depan.workdepannage).utc.strftime("%HH"), admin_affaire_path(affaire) %></td>  
            </tr>
          <%end%>  
        </tbody>
    </table>

