<h1>Editing dépannage</h1>

<%= render "form", depannage: @depannage %>

<br>

<div>
  <%= link_to "Show this depannage", @depannage %> |
  <%= link_to "Back to depannages", depannages_path %>
</div>
